.card-register1 {
    background-color: rgb(255, 204, 94);
    border-radius: 8px;
    color: #fff;
    
    margin: 120px 0 70px;
    padding: 30px;
    z-index: 1;
}
h5 p{
    text-align: center;
    font-size: 25px;
}
.ligne{
    background-color: brown;
    height: 2%;
    width: 100%;
    color: brown;
    margin-bottom: 1%;
}
.myTitle{
    text-align: center;
}
.my-list li span{
    color: darkblue;
}
.m-top{
    margin-top: 5%;
}
.my-card{
    margin-top: 5%;
    
   
}
